<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div id="profileContainer">
      <div id="profile">
        <header>
          <!-- avator -->
          <div class="avatar">
            <img class="avatarMask" src="/img/{{ .Site.Params.avatar }}" alt="avatar">
            <img src="/img/avatar-border.svg" alt="avatar-border">
          </div>
          <!-- author -->
          <h1 class="author">{{ .Site.Params.Author }}</h1>
        </header>
        <!-- description -->
        <p>
          {{ .Site.Params.description }}
        </p>
        <!-- navigation -->
        <nav>
          <ul>
            {{ range .Site.Menus.main }}
            <a href="{{ .URL }}" aria-label="{{ .Identifier }}">
              <li>{{ .Pre }}<br><div class="socialName">{{ .Name }}</div></li>
            </a>
            {{ end }}
          </ul>
        </nav>
      </div>
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
